<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">COMPASS</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="<%= 'active' if current_page? deals_path %>">
						<%= link_to 'Deals', :deals %>
					</li>
				</ul>
			</div>
		</div>		
	</div>
</div>