<h1>This is your COMPASS</h1>
<p>COMmission Personal ASSistant.  And yup, I just said ASS.</p>
<div style="background-image: url(http://fc09.deviantart.net/fs47/f/2009/216/d/f/df4407d2a04dd2a1688b7e8fabf78812.jpg)"></div>

<%= link_to 'Logout', logout_path, class: 'btn btn-default' %>
<%= link_to 'Login', new_session_path, class: 'btn btn-warning' %>

