<div class="nested-fields">
  <div id="req_description">
  	<%= f.input :description %>
  </div>
  <br/>
  <div id="task_datepicker">
  	<%= f.input :due_date %>
  </div>
  <%= f.input :done, :as => :boolean %>
  <%= link_to_remove_association "Remove Task", f %>
</div>