<h1>Completed Tasks</h1>

<div class="projects">
  <% @deals.each do |deal| %>
  <h3><%= link_to deal.project_name, deal %></h3>
    <p>
      Created On:<%= deal.created_at %>
    </p>
    <% deal.tasks.each do |task| %>
      <p data-task-id="<%= task.id %>"><% if task.done == true  %>
          <%= task.description %>
            <% end %>
      </p>
    <% end %>
    <br/>
  <% end %>
</div>