<div class="hero-unit">
<h1>Completed Tasks</h1>

<div class="projects">
  <% @deals.each do |deal| %>
  <button type="button" class="btn btn-default btn-lg btn-block"><%= link_to deal.project_name, deal %></button>
    <% deal.tasks.each do |task| %>
      <p data-task-id="<%= task.id %>"><% if task.done == true  %>
          <%= task.description %>
            <% end %>
      </p>
    <% end %>
    <br/>
  <% end %>
</div>
</div>