@import "bootstrap";


body {
	padding: 50px;
  background-attachment: fixed;
  background-position: center;
  background-color: #272B2E;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #C8C8C8;
}

.hero-unit {
  background-color: #1C1E22;
  border: solid #0C0D0E 1px;  
}

.ui-datepicker { 
  margin-left: 100px;
  z-index: 1000;
}

.welcome {
  margin-top: 100px;
  width: 250px;
}

.new_deal {
  margin-top: 100px;
}

#tasks {
  margin-top: 100px;
}

.link_proj_name {
  padding-top: 10px;
  color: #79878D;
}

.incomplete {
  margin-top: -10px;
  margin-bottom: 15px;
  &:hover{
    color:rgb(122, 118, 116);
  }
}

.hover {
  /*border-top: 1px solid gray;*/
}

a {
  color: #79878D;
  &:hover {
    color: #50656F;
    text-decoration: none;
  }
}

.pending_panel {
  background-color: #EE5F5B;
  border: solid #0C0D0E 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  padding-bottom: 6px;
}

