@import "bootstrap";

body {
	padding: 50px;
  background-image: url('http://fc09.deviantart.net/fs47/f/2009/216/d/f/df4407d2a04dd2a1688b7e8fabf78812.jpg')
}

.ui-datepicker { 
  margin-left: 100px;
  z-index: 1000;
}
