@import "bootstrap";

body {
	padding: 50px;
  background-image: url('http://profilanakangin.files.wordpress.com/2012/03/black-and-white-compass-rain-drops-walp-long-goodbye.png');
  background-attachment: fixed;
  background-position: center;
}

.hero-unit {
  box-shadow: 3px 3px 2px #888888;
}

.ui-datepicker { 
  margin-left: 100px;
  z-index: 1000;
}

.welcome {
  margin-top: 100px;
  width: 250px;
}

.new_deal {
  margin-top: 100px;
}

#tasks {
  margin-top: 100px;
}
